<html>
    <style>
        h1{font-family: "Verdana", Geneva, sans-serif;}
        p{font-family: "Verdana", Geneva, sans-serif; font-size: 16;}
        p.psub1 {font-family: "Verdana", Geneva, sans-serif; font-size: 12; text-indent: 50px;}
        p.psub2 {font-family: "Verdana", Geneva, sans-serif; font-size: 12; text-indent: 100px;}
    </style>
    <h1 align="center"> Result Options </h1>
<body>
<form action = "/chooseplots" method = "POST">
<p><b>Gene:  </b></p>
<ul>
    {% for gname in genelist %}
    <p><input type="radio" name="Gene" value="{{ gname }}" > {{ gname }}<br></p>
    {% endfor %}
    </ul>

<p><b>Choose the Plot and formatting options you would like:  </b></p>

<p><b> Plot Type</b></p>
    <p ><input type="radio" name="Plot" value="violin"> Violin Plot<br></p>
    <p><input type="radio" name="Plot" value="tsne"> Feature (tSNE) Plot<br></p>   
<!---  <p><input type="radio" name="Plot" value="swarmplot"> Swarm Plot (takes longer) <br></p> --->   
    
    <p ><b>If you chose violin: </b></p>
        <p class = "psub1">choose an option to GROUP your plot by (only check one box): </p>
        <p class= "psub2" ><input type = "checkbox" name = "groupby" value = "sample">sample<br></p>
        <p class= "psub2"><input type = "checkbox" name = "groupby" value = "cluster">cluster<br></p>
    
<!---     <p ><b> If you chose swarm plot:  </b></p>
        <p class = "psub1">also choose an option to COLOR your plot by (only check one box): </p>
        <p class = "psub2"><input type = "checkbox" name = "colorby" value = "sample">sample<br></p>
        <p class = "psub2"><input type = "checkbox" name = "colorby" value = "cluster">cluster<br></p> --->  
   
<p><input type = "submit" value = "submit" /></p>